streamlit
huggingface_hub
pandas
scrapegraph-py
requests
beautifulsoup4
PyMuPDF
requests
langchain
docarray
sentence-transformers
together 
faiss-cpu 
langchain-together 
pydantic 
typing-extensions
matplotlib
